$--colors: (
  'primary': (
    'base': #646cff
  ),
  'success': (
    'base': #31d0aa
  ),
  'warning': (
    'base': #ff9500
  ),
  'danger': (
    'base': #d42937
  ),
  'error': (
    'base': #ff3b30
  ),
  'info': (
    'base': #bdbdbd9a
  )
);

// we can add this to custom namespace, default is 'el'
@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'ep'
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ('default': 20px),
  $button-padding-vertical: ('default': 22px)
);

// custom dark variables
@use './dark.scss';
